<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body bgcolor="white">
    <ul>
        {%for row in data%}
        <h2><a href="{{row[0]}}">{{row[1]}}</a></h2>
        {%endfor%}
    </ul>
    <form action="" method="post">
        <p>
            <label>Username</label>
            <input type="text" name="username">
            <input type="submit">
        </p>
    </form>
    {%if message != ''%}
        <p>{{message}}</p>
    {%endif%}
</body>
</html>